<ion-view title="login page" style="background-color:#87E493;">
  <ion-content padding="true" class="has-header">
    <h2 style="color:#000000;text-align:center;">SIGN IN</h2>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/FfW6ef5PSFeXKnZBYlTW_fruits_veggies.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <form class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email-id" ng-model="loginInfo.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="loginInfo.password">
      </label>
    </form>
    <button style="color:#2EEF88;" class="button button-light button-block icon ion-android-contacts" ng-click="login()" ui-sref="mainOptions">Sign In</button>
    <h5 style="color:#F6FAF8;font-weight:lighter;text-align:center;">--- OR ---</h5>
    <a ui-sref="register" style="color:#2EEF88;" class="button button-light button-block">Register New</a>
  </ion-content>
</ion-view>


    <!-- <ul>
        <li>
            <button ion-button block class="button button-positive">Sign in with us</button>
        </li>
        <li>
            <button ion-button block ng-click="addRecipe()" class="button button-positive">Add Recipe</button>
        </li>
        <li>
            <button ion-button block ui-sref="register" class="button button-positive">Register new</button>
        </li>
    </ul> -->
    <!-- <ion-list> async helps it update dynamically. ngfor is very much like for loop  -->
    <!-- <ion-item-sliding *ngFor="let recipe of recipes | async">
        <ion-item >
            <p>Title: {{recipe.title}}</p>
            <p>Id: {{recipe.id}}</p>
        </ion-item>
        <ion-item-options side="right">
            <button ion-button color="secondary" (click)="editRecipe(recipe)">
            <ion-icon name="md-create"></ion-icon>
            </button>
        </ion-item-options>
        <ion-item-options side="left">
            <button ion-button color="danger" (click)="deleteRecipe(recipe.$key)">
            <ion-icon name="md-trash"></ion-icon></button>
        </ion-item-options>
        </ion-item-sliding>
    </ion-list> -->
</ion-content>
</ion-view>