<ion-view title="Page" hide-nav-bar="true">
 
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" class="sliderSlides">
      <ion-slide-page class="padding mainSlider1">
        <div class="sliderDiv1">
          <div class="sliderRow">
            <div class="sliderAlignment">
              <div class="sliderAdjust">
                <img src="../../img/fruits_veggies.png">
              </div>
              <h1 class="sliderPageh1">Smart List</h1>
              <div class="show-list-numbers-and-dots sliderTextCenter">
                <p>
                  <b>Never</b> forget an important ingredient from your recipe.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page class="padding  mainSlider2">
        <div class="sliderDiv1">
          <div class="sliderRow">
            <div class="sliderAlignment">
              <div class="sliderAdjust">
                <img src="../../img/search.png">
              </div>
              <h1 class="sliderPageh1">Browse Recipes</h1>
              <div class="show-list-numbers-and-dots sliderTextCenter">
                <p>Explore our wide range of recipes and save them or convert to a shopping list. Just click list option on the recipe.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page class="padding mainSlider3">
        <div class="sliderDiv1">
          <div class="sliderRow">
            <div class="sliderAlignment">
              <div class="sliderAdjust">
                <img src="../../img/sh.png">
              </div>
              <h1 class="sliderPageh1">Shopping lists</h1>
              <div class="show-list-numbers-and-dots sliderTextCenter">
                <p>Access your shopping lists. Add items manually or make list out of recipes you like.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page class="padding mainSlider4">
        <div class="sliderDiv1">
          <div class="sliderRow">
            <div class="sliderAlignment">
              <div class="sliderAdjust">
                <img src="../../img/recipebook.png">
              </div>
              <h1 class="sliderPageh1">Recipe Book</h1>
              <div class="show-list-numbers-and-dots sliderTextCenter">
                <p>Make recipe book from your saved favorite recipes.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
    <ion-slide-page class="padding mainSlider5">
        <h1 class="sliderPageh1">Sign In</h1>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/FfW6ef5PSFeXKnZBYlTW_fruits_veggies.png" class="signinImgIcon">
    </div>
    <!-- <div class="spacer spacerDiv"></div> -->
    <form class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email-id" ng-model="loginInfo.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="loginInfo.password">
      </label>
    </form>
    <button class="button button-light button-block icon ion-android-contacts" ng-click="login()">Sign In</button>
    <h5 class="sliderPageh5">--- OR ---</h5>
    <a ui-sref="register" class="signinButtonText button button-light button-block">Register New</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>