<ion-view hide-nav-bar="true" title="login page" class="loginPageMain" >
  <ion-content padding="true" class="has-header">
    <h2 class="loginPageh2">SIGN IN</h2>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/FfW6ef5PSFeXKnZBYlTW_fruits_veggies.png" class="loginImg">
    </div>
    <div class="spacer loginSpacer"></div>
    <form class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email-id" ng-model="loginInfo.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="loginInfo.password">
      </label>
    <button class="button button-light button-block icon ion-android-contacts loginButton" ng-click="login()">Sign In</button>
    </form>
    <h5 class="loginh5">--- OR ---</h5>
    <a ui-sref="register" class="button button-light button-block loginButton">Register New</a>
</ion-content>
</ion-view>