<ion-view title="mainOption">
<ion-content padding="true">
<div ui-sref="recipesView">
    <div style="margin: 10px; background-color: rgb(232, 235, 239); text-align: center;">
      <img src= "../../../img/recipe.png" style="width: 100%"></img>
    </div>
    <div class="item item-body">
      <div class="show-list-numbers-and-dots" style="margin-bottom: 10px;">
        <p style="margin-top:0px;color:#000000;" ng-click="">Browse Recipes</p>
      </div>
    </div>
</div>
    
<div ui-sref="shoppingList">
    <div style="margin: 10px; background-color: rgb(232, 235, 239); text-align: center;">
      <img src= "http://www.beyinci.com/contents/LISTE.png" style="width: 100%"></img>
    </div>
    <div class="item item-body">
      <div class="show-list-numbers-and-dots" style="margin-bottom: 10px">
        <p style="margin-top:0px;color:#000000;" ng-click="">Shopping List</p>
      </div>
    </div>
</div>

<div ui-sref="recipeBook">
    <div style="margin: 10px; background-color: rgb(232, 235, 239); text-align: center;">
      <img src= "../../../img/favorite.png" style="width: 100%"></img>
    </div>
    <div class="item item-body">
      <div class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;" ng-click="">Recipe book</p>
      </div>
    </div>
</div>
</ion-content>


</ion-view>