<div ng-include src="'templates/nav-partial.html'"></div>

<ion-view title="mainOption">


<ion-content padding="true" class="has-header">

  <div ui-sref="recipesView" class="mainOptionDiv">
    <div class="mainOptionSubDiv">
      <img src= "../../../img/recipe.png"></img>
      <p class="mainOptionP">Browse Recipes</p>
    </div>
  </div>
  <div ui-sref="shoppingList" class="mainOptionDiv">
    <div class="mainOptionSubDiv">
      <img src= "http://www.beyinci.com/contents/LISTE.png"></img>
      <p class="mainOptionP">Shopping Lists</p>
    </div>
  </div>
  <div ui-sref="recipeBook" class="mainOptionDiv">
    <div class="mainOptionSubDiv">
      <img src= "../../../img/favorite.png"></img>
      <p class="mainOptionP">Recipe Book</p>
    </div>
  </div>
    
</ion-content>

</ion-view>