<ion-header-bar class="bar-stable">
    
  <ion-nav-bar class="stable">
    <ion-nav-back-button>
      <button class="button button-clear" ng-click="myGoBack()" nav-direction="back">
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button ng-click="toggleRightSideMenu()" menu-toggle="left" class="button button-clear"  nav-direction="back">
        <i class="icon ion-ios-gear" ></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>



</ion-header-bar>