<ion-view title="Recipes" padding="true">
<ion-content padding="true" class="has-header">
<form>
<input type="text" name="search" placeholder="search.." ng-model="searchText" />
<button ion-button icon-only ng-click="searchedRecipe(searchText)">search</button>


<ion-card ng-repeat="recipe in recipes" ui-sref="singleRecipe({recipeId:{{recipe.id}}})">
  <div class="list card">
      <div style="margin: 0px; line-height: 0px; background-color: rgb(232, 235, 239); text-align: center;">
        <img src="{{recipe.image}}" style="width: 100%;">
        <h2>{{recipe.title}}</h2>
      </div>
  </div>
</ion-card>
</form>
</ion-content>

<!-- <ion-footer-bar class="bar-assertive">
    
</ion-footer-bar> -->
</ion-view>