<ion-view hide-nav-bar="true" title="login page" class="registerPageMain" >
  <ion-content padding="true">
    <h2 class="loginPageh2">Register</h2>
    <div>
      <img src="../img/fruits_veggies.png" class="registerImg">
    </div>
    <div class="spacer loginSpacer" ></div>
    <form class="list registerPageForm">
      <label class="item item-input">
        <input type="email" placeholder="Email-id" ng-model="registerInfo.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="registerInfo.password">
      </label>
    <button class="button button-light button-block icon ion-android-contacts loginButton" ng-click= "register()">Sign Up</button>
    </form>
    <h5 class="loginh5">--- OR ---</h5>
    <a ng-click= "loginWithGoogle()" class="button button-light button-block loginButton">Login With Google</a>
</ion-content>
</ion-view>