<ion-view title="Selector list">
  <ion-content padding="true" class="has-header">
        <label for="listSelect">Pick a List:</label>
  <div class="form-group">
        <select id="listSelect" ng-options="list as list.listName for list in lists" ng-model="list.list_id" ng-change="update(list.list_id)"></select>
    </div>
<button ui-sref="createList" ng-click="addNewListToFB()">Add New List</button>
    <form class="list" ng-repeat="item in items">
      <ion-checkbox ng-model="selected" ng-change="getSelectedItems(item)">{{item.name}}</ion-checkbox>
    </form>
      <button ng-click="addToShoppingList()">Done</button>
  </ion-content>
</ion-view>