<ion-view title="Shopping list">
  <ion-content padding="true" class="has-header">
    <form class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="add items...">
      </label>
      <button type="button" ng-click="scanBarcode()">scan</button>
    </form>
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <ion-list>
      <ion-item>Item 1</ion-item>
      <ion-item>Item 2</ion-item>
      <ion-item>Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>