<div ng-include src="'templates/nav-partial.html'"></div>

<ion-view title="Shopping list">
  <ion-content padding="true" class="has-header">
   <!--  <div class="spacer" style="width: 300px; height: 38px;"></div> -->
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-minus-outline"
        ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
    </div>
    <div class="buttons">
      <button ng-click="addNewItemPopup()" class="button button-clear"><i class="icon ion-android-add"></i></button>
      <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
          Reorder
      </button>
    </div>
  </ion-header-bar>
      
  <ion-list show-delete="data.showDelete">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <ion-item ng-repeat="list in lists" item="list" ui-sref="singleListView({shoppingListId : list.list_id})" class="item-remove-animate">
      {{ list.listName }}
      <ion-delete-button class="ion-minus-circled" 
                         ng-click="onItemDelete(list)">
      </ion-delete-button>
      <ion-option-button class="button-assertive" ng-click="showEditPopup(list)">Edit
      </ion-option-button>
      <ion-reorder-button class="ion-navicon" on-reorder="moveItem(list, $fromIndex, $toIndex)"></ion-reorder-button>

      </ion-item>

  </ion-list>

</ion-content>

<!-- <div ng-include src="'templates/footer-partial.html'"></div> -->

</ion-view>