<div ng-include src="'templates/nav-partial.html'"></div>

<ion-view title="Shopping list">
  <ion-content class="has-header">
      
  <ion-header-bar style="background-color: #D5F1EE;">
    <div class="buttons buttonBar">

      <button class="button button-icon" style="margin: 0;" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"><i class="icon ion-minus-circled"></i></button>

      <button  class="button button-clear" style="position: fixed; right: 0; margin: 0;" ng-click="addNewListPopup()"><i class="icon ion-android-add"></i></button>

    </div>
  </ion-header-bar> 


  <ion-list show-delete="data.showDelete">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <ion-item ng-repeat="list in lists" item="list" ui-sref="singleListView({shoppingListId : list.list_id})" class="item-remove-animate">
      {{ list.listName }}
      <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(list)">
      </ion-delete-button>
      <ion-option-button class="button-balanced" ng-click="showEditPopup(list)">Edit
      </ion-option-button>

      </ion-item>

  </ion-list>

</ion-content>

<!-- <div ng-include src="'templates/footer-partial.html'"></div> -->

</ion-view>