<div ng-include src="'templates/nav-partial.html'"></div>

<ion-view title="Recipe" cache-view="false">
  <ion-content padding="true" class="has-header">
    <div class="button-bar">
 
    </div>
    <div class="list card singleRecipeMainDiv">
      <ion-item class="optionsOnSingleRecipeView">
      <button class="button button-clear" ng-click="deleteRecipe()" ui-sref="recipeBook"><i class="icon ion-trash-b" style="color: red;"></i></button>
      <button class="button button-clear" ui-sref="selector({recipeId : recipes.id})"><i class="icon ion-ios-list" style="color: purple; "></i></button>
      <button class="button button-clear" ui-sref="recipeBook"><i class="icon ion-android-cancel" style="color: red;"></i></button>
        
      </ion-item>
        <h2>{{recipes.title}}</h2>
      <div>
        <img src="{{recipes.image}}" style="width: 100%;">
      </div>
      <div>
      <h2>Ingredients:</h2>
        <ul ng-repeat="item in recipes.extendedIngredients">
          <li>{{item.name}}</li>
        </ul>
      </div>
      <div>
      <h2>Method:</h2>
        <!-- <p>{{recipes.instructions}}</p> -->
        <ul ng-repeat="each in recipes.analyzedInstructions[0].steps">
          <li><b>Step:{{each.number}}</b><br>{{each.step}}</li>
        </ul>
      </div>
    </div>
  </ion-content>

<!-- <div ng-include src="'templates/footer-partial.html'"></div> -->
  
</ion-view>