/* Empty. Add your own CSS if you like */

body, button, option, input, select {
    font-family: 'Montaga', serif;
    font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Boogaloo', cursive;
    /*font-size:1.2em;*/

}

#imgIcon {
    width: 10%;
    height: 80%;
}

/*.recipeCard {
    width: 20vh;
    height: 20vh;
}*/

/***Single Recipe Card***/

.singleRecipeCard {
    margin: 5% 5%;
    width: 40%;
    float: left;
    max-height: 250px;
}

.singleRecipeDiv {
    margin: 0px;
    line-height: 0px;
    text-align: center;
}

.singleRecipeDiv img {
    width: 100%;
}

.singleRecipeDiv h6 {
    height:40px;
    line-height:20px;
    overflow:hidden;
}

.mainOptionDiv {
    max-width: 50%;
    border: 0.5px solid lightgray;
    box-shadow: 5px 5px 3px slategray;
    /*border-radius: 10px;*/
    margin: 10px auto;
}

.mainOptionDiv:active {
  background-color: #EDF1D1;
  box-shadow: 0 slategray;
  transform: translateY(4px);
}

.mainOptionSubDiv {
    padding: 5px;
    text-align: center;
    height: 150px;
}

.mainOptionSubDiv img {
    width: 100%;
    height: 120px;
}

.pFrame {
    border: none;
    padding: 0;
    text-align: center;
}

/***Single Recipe View***/

.optionsOnSingleRecipeView {
    padding: 0 50px;
}

.singleRecipeMainDiv {
    padding: 5px;
    border: none;
}

.singleRecipeMainDiv div {
    padding-bottom: 10px;
}

#listSelect {
    width: 80%;
}

.buttonBar button {
    margin: 0 30px;
    color: #364FCD;
}

.buttonBar button i {
    color: #387ef5;
}

.sideMenuContent ion-list ion-item{
    color: #387ef5;
}

.navTitleCenter {
    margin-left: 100px;
}

.statusbar {
    background-color: #000;
}

/******* INFO_SLIDERS*********/

.sliderSlides {
    width:100%;
    height:100%;
}

.sliderDiv1 {
    display:table;
    width:100%;
    height:100%;
}

.mainSlider1 {
    background-color:#7E7ED4;
}

.mainSlider2 {
    background-color:#8AE996;
}

.mainSlider3 {
    background-color:#ECB35E;
}

.mainSlider4 {
    background-color:#E6E644;
}

.mainSlider5 {
    background-color:#EB626F;
}

.sliderRow {
    display:table-row;
}

.sliderAlignment {
    display:table-cell;
    vertical-align:middle;
}

.sliderAdjust {
    margin: 0px;
    text-align: center;
}

.sliderPageh1 {
    color:#000;
    text-align:center;
}

.sliderTextCenter {
    text-align:center;
}

.sliderTextCenter p {
    color:#000;
}

.spacerDiv {
    width: 300px;
    height: 18px;
}

.signinImgIcon {
    display: block; 
    width: 100%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
}

.button.button-light {
    color:#EB626F;
}

.sliderPageh5 {
   color:#F6FAF8;
   font-weight:lighter;
   text-align:center;
}

/******Login Page*******/

.loginPageMain {
    background-color:#87E493;
}

.loginPageh2 {
    color:#000000;
    text-align:center;
}

.loginImg {
    display: block; 
    width: 100%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
}

.loginSpacer {
    width: 300px; 
    height: 18px;
}

.loginButton {
    color:#2EEF88;
}

.loginh5 {
    color:#F6FAF8;
    font-weight:lighter;
    text-align:center;
}